
.homepage-logo {
    aspect-ratio: 1 / 1;
    width: 200px; 
}

.home-page-tab-bar {
    background-color: #FCEDDA;
    /* display: flex; */
    align-items: center;
}


.nav-menu {
    display: flex;
    list-style: none;
    flex-grow: 1;
 }

li {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    border:1px solid rgb(255, 255, 255);
}

.nav-menu li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black
}

  
/* Tablet Styles */
@media (max-width: 768px) {
    ul.nav-menu {
        font-size: 14px;
    }
}

/* Mobile Styles */
@media (max-width: 480px) {
    .nav-menu {
        flex-direction: column;
        font-size: 12px;
    }

    .nav-menu li a {
        font-size: 16px;
    }
}

.coming-soon {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}